<!--Page Content-->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col">
              <h3 class="page-title">Data Tables</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">Data Tables</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
      <div class="col-sm-12">
          <div class="card mb-0">
              <div class="card-header">
                  <h4 class="card-title mb-0">Default Datatable</h4>
                  <p class="card-text">
                      This is the most basic example of the datatables with zero configuration. Use the
                      <code>.datatable</code> class to initialize datatables.
                  </p>
              </div>
              <div class="card-body">

                  <div class="table-responsive">
                      <table datatable [attr.dtOptions]="dtOptions" class="datatable table table-stripped mb-0">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Name</th>
                                  <th>Position</th>
                                  <th>Office</th>
                                  <th>number</th>
                                  <th>email</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of items">
                                 <td>{{item.id}}</td>
                                  <td>{{item.name}}</td>
                                  <td>{{item.role}}</td>
                                  <td>{{item.type}}</td>
                                  <td>{{item.email}}</td>
                                  <td>$320,800</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
<!--/Page Content-->
